SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:postgresql://s3.java21.net:8000/team5-library?stringtype=unspecified
DB_USERNAME=
DB_PASSWORD=
OPENAI_API_KEY=dummy
GOOGLE_GENAI_API_KEY=
LIBRARY_API_KEY=
RABBITMQ_HOST=s4.java21.net
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_REVIEW_SUMMARY_QUEUE=nhnacademy-library-review
REDIS_HOST=s4.java21.net
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0
TELEGRAM_BOT_ENABLED=true
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
